PORT=3000
# Base URL Override (Opsional: otomatis terdeteksi jika deploy di Render via RENDER_EXTERNAL_URL, atau gunakan IP lokal saat development)
# BASE_URL=https://nizhoot.onrender.com
SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vTroUpzMnECgKIvr4LVjNK5k-WzMZ8DSIDdD8PM61Y6tx4shCqqCVm3mTw35aUzMtGGyH8Ku_JQaS5w/pub?output=csv

# Google Sheets API & Google Drive API (Service Account)
SPREADSHEET_ID=your_google_spreadsheet_id_here
DRIVE_ROOT_FOLDER_ID=your_google_drive_folder_id_here
GOOGLE_SERVICE_ACCOUNT_KEY={"type":"service_account","project_id":"...","private_key":"...","client_email":"..."}
